*.safetensors filter=lfs diff=lfs merge=lfs -text
*.gguf filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
CV/*.pt filter=lfs diff=lfs merge=lfs -text
CV/*.onnx filter=lfs diff=lfs merge=lfs -text
